{%extends 'base.html'%}

{%block content %}

    {% load static %}
    
        {%csrf_token%}
        <style>
          #contents{
            overflow-y:scroll;
            overflow-x:hidden;
            
            }
            .postlist{
            background-color: rgb(255, 255,255,0.5);
            height:  auto;
            border-bottom-right-radius: 35px;
            border-bottom-left-radius: 35px;
             }
             .left{
                 float: left;
                 position: relative;
                 left: 30px;
             }
            .detailTable,tr,td,th{
                text-align: center;
                margin: auto;
                border: 1px black solid;
                border-collapse: collapse;
                padding: 10px;
                background-color: white;
            }
            th{
                
                width:70px;
            }
            #comment{
                position: relative;
                left: 60px;
                overflow-x:hidden;
                
                height:  auto;
                background-color: rgb(245,245,245,0.7);
            }
            #comment table, #comment tr, #comment td, #comment th{
                position: relative;
                left: 40px;
                border-collapse: collapse;
                border: 0px solid rgb(85, 25, 25);
                width: 500px;
            }
            date, #comment .toNext{font-size: small;}
           
            .writer{
                width:20px;
                text-align: left;
            }
            #recomment{
                margin-left: 50px;
            }
            who{
                font-size: x-small;
            }
            #addReComment{
                color: rgb(179, 108, 108);
            }
            #cc{
                background-color: rgb(179, 108, 108);
            }
        </style>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script>
          $(document).ready(function() {
              $("#addReComment").click(function() {
                  $(".re_comment").slideToggle("slow");
              });
          });
          function OnMouseIn(elem) 
            {
                elem.style.color = "olive";
            }
        function OnMouseOut(elem) 
            {
                elem.style.color= "rgb(179, 108, 108)";
            }
          </script>
       
        <div id="contents">
            <div class="postlist">
                <div class="left">
                    <table class="detailTable">
                        <br><br>
                        <tr><td colspan="2" width="250px" height="250px">
                            {% if postContents.image %}
                            <embed src= {{postContents.image.url}} alt='image' width="250px">
                            {% else %}
                            <img src= "{%static '솜솜.jpg'%}" alt='image' width="250px">
                            {% endif %}
                        </td></tr>
                        <tr><th>제목</th><td> {{postContents.title}}</td></tr>
                        <tr><th>작성자</th> <td>
                            {% if postContents.hideName == False %}
                              {{postContents.writer}}
                            {% else %} 
                                익명
                            {% endif %}
        
                            </td></tr>
                        <tr><th>본문</th><td  width = "300px" >{{postContents.body}}</td></tr>
                    </table>
                    <br><br>
                    {{postContents.pub_date}}<br><br>
                    {% if user.username == postContents.writer %}
                    <a class="toNext" href="{% url 'editPost' postContents.id%}">수정하기</a>
                    <a class="toNext" href="{% url 'deletePost' postContents.id%}">삭제하기</a>
                    {% elif user.is_staff%}
                    <a class="toNext" href="{% url 'deletePost' postContents.id%}">삭제하기</a>
                    {%endif%}
                    <br> <br> 
                </div>
                <div id="comment"><br><br>
                    <form method="POST" action="{%url 'create_comment' postContents.id  %}" enctype="multipart/form-data">
                        {%csrf_token%}
                    댓글 작성  {{commentForms}}
                        <input type="submit">
                    </form>
                    
                    <hr><h2>댓글</h2>
                    <b id="addReComment" onmouseover="OnMouseIn(this)" onmouseout="OnMouseOut (this)">답글 숨기기</b><br><br>
                {% for comment in comments %}
                    <br>
                    <table id="cc">
                        <tr>
                            <td class="writer"><b>
                                
                            {% if comment.hideName == True and postContents.writer == comment.writer%}
                                익명<who>(글쓴이)</who>
                            {% elif comment.hideName == False and postContents.writer == comment.writer %}
                            {{comment.writer}}<who>(글쓴이)</who>
                            {% elif comment.hideName == False %}
                            {{comment.writer}}
                            
                            {% else %} 
                                익명
                            {% endif %}
                            </b>| </td><td> {{comment.body}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"> <date> {{comment.pub_date}}</date> 
                               
                                {% if user.username == comment.writer %}
                                    <a class="toNext" href="{% url 'update_review' postContents.id comment.id%}">수정하기</a>
                                    <a class="toNext" href="{% url 'deleteComment' postContents.id comment.id%}">삭제하기</a>
                                {% elif user.is_staff%}
                                    <a class="toNext" href="{% url 'deleteComment' postContents.id comment.id%}">삭제하기</a>
                                {%endif%}</td>
                                
                        </tr>
                    </table>
                <div class="re_comment">
                    <form method="POST" action="{%url 'create_re_comment'  postContents.id comment.id %}" enctype="multipart/form-data">
                        {%csrf_token%}
                        <who>대댓글 작성</who> {{commentForms}}
                        <input type="submit">
                    </form>
                            {% for re_comment in re_comments %}
                                {% if comment == re_comment.comment_id %}
                                <table id="recomment">
                                    <tr>
                                        <td class="writer"><b>
                                           <!--ㄴ
                                        {% if comment.hideName ==  True and postContents.writer == comment.writer%}
                                            익명<who>(글쓴이)</who>
                                        {% elif comment.hideName == False and postContents.writer == comment.writer %}
                                            {{comment.writer}}<who>(글쓴이)</who>
                                        {% elif comment.hideName == False %}
                                        {{comment.writer}}
                                            {% else %} 
                                                익명
                                            {% endif %}
                                                에게 --> 
                                            {% if re_comment.hideName ==  True and postContents.writer == re_comment.writer%}
                                                ㄴ익명<who>(글쓴이)</who>
                                            {% elif re_comment.hideName == False and postContents.writer == re_comment.writer %}
                                                ㄴ{{re_comment.writer}}<who>(글쓴이)</who>
                                            {% elif re_comment.hideName == False %}
                                            ㄴ{{re_comment.writer}}
                                            {% else %} 
                                                ㄴ익명
                                            {% endif %}
                                            
                                            </b>| </td><td>{{re_comment.body}} </td>
                                        
                                        </tr>
                                        <tr>
                                            <td colspan="2"> <date> {{comment.pub_date}}</date> {% if user.username == re_comment.writer %}
                                                <a class="toNext" href="{% url 'update_review' postContents.id  re_comment.id%}">수정하기</a>
                                                <a class="toNext" href="{% url 'deleteComment' postContents.id  re_comment.id%}">삭제하기</a>
                                                {% elif user.is_staff%}
                                                <a class="toNext" href="{% url 'deleteComment' postContents.id  re_comment.id%}">삭제하기</a>
                                                {%endif%}</td>
                                        </tr>
                                    </table>
                                
                                    <br>
                                    {% endif %}
                                {% endfor %}</div>
                        {% endfor %}
                                <br> <br>
                </div> 
            </div>
        </div>

{%endblock%} 
