{%extends 'base.html'%}//맨위에

{%block content %}
{% load static %}
    <style>
  
        .detailTable,tr,td,th{
            text-align: center;
            margin: auto;
            border: 1px black solid;
            border-collapse: collapse;
            padding: 30px;
            background-color: white;
        }
        .postlist{
           background-color: rgb(255, 255,255,0.5);
           height:  800px;
           border-bottom-right-radius: 35px;
           border-bottom-left-radius: 35px;
       }
        form{
            height: 500px;
            text-align: center;
        }
        th{
            width:70px;
        }
        h1{
            font-weight: 900;
            font-size: 30pt;
            color: rgb(179, 108, 108);
            text-shadow: 1pt 1pt black;
        }
    </style>
  
    <div id="contents">
        <div class="postlist">
            <br>
            <h1>New Post</h1><br>
            <form  method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <table class="detailTable">
                    {{form.as_table}}
                </table>
                <br><button type="submit">올리기</button>
            </form>
        </div>
    </div>
{%endblock%}